@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btnPrim {
    @apply bg-primary1 w-fit font-medium px-[40px] py-[18px] text-[16px] text-white capitalize tracking-wider hover:bg-primary3 hover:text-white transition-all ease-in-out duration-300;
  }
  .btnSec {
    @apply bg-primary2 w-fit font-medium px-[40px] py-[18px] text-[16px] text-black capitalize tracking-wider hover:bg-primary1 hover:text-white transition-all ease-in-out  duration-300;
  }
  .btnHover {
    @apply bg-white w-fit font-medium outline-2 outline-primary1 px-[40px] py-[18px] text-[16px] text-primary1 capitalize tracking-wider;
  }
  .contactIcon {
    @apply bg-primary1 w-fit font-medium text-lg text-white h-fit py-2 px-3 rounded-full;
  }

  .sectionTitle {
    @apply w-fit text-HeaderColor uppercase font-medium tracking-wider p-2 xl:tracking-spread;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 16px;
  font-weight: 400;
  color: #1c1c1c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
